/* 暂时的背景颜色，控制整个system */
body{
    background-color: rgba(210, 214, 163, 100);
}

.scan-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 这里是对摄像头展示部分经行规范调整 */
.QR-camera-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    /* height: 100vh; Optional: This will make the container fill the viewport height */
}

/* 确保QR-camera这个类名正确设置在Wecam中 */
.QR-camera-container > .QR-camera {
    width: 100%;
    height: 100%;
}

.switch-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 20vh; */
    border-radius: 50px; /* 使容器具有药丸样式 */
    overflow: hidden; /*隐藏超出边界的部分（例如，子元素的背景或边框）*/
    border: 1px solid gray; /* 给容器添加边界 */
}

.scan-button, .input-button {
    flex-grow: 1; /* 使按钮填充容器的一半 */
    padding: 10px 10px; /* 可以调整为你需要的大小 */
    border: none;
    background-color: #f2f2f2; /* 你喜欢的默认背景颜色 */
    color:gray; /* 字体颜色 */
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; /* 平滑的过渡效果 */
}

.scan-button:hover, .input-button:hover {
    background-color:khaki; /* 鼠标悬停时的背景颜色 */
    color: #ffffff; /* 鼠标悬停时的字体颜色 */
    font-weight: bold; /* 鼠标悬停时的字体加粗 */
}

.scan-button.active, .input-button.active {
    background-color:darkgray; /* 选中时的背景颜色 */
    color: #ffffff; /* 选中时的字体颜色 */
    font-weight: bold; /* 选中时的字体加粗 */
}


/* 调整小提示字体，让使用者有更好的观感体验 */
.scan-tip{
    text-align: center;
    font-family: 'Brush Script MT', cursive; /* replace with your desired font */
    /* create a gradient text */
    background: linear-gradient(to right, rgb(221, 178, 97), rgb(142, 102, 28)); /* replace with your desired colors */
    -webkit-background-clip: text;
    color: transparent;
}